public/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=1024, user-scalable=no">
    <title>npm scripts </title>
    <link rel="stylesheet" media="screen" href="css/plugins.min.css">
    <link rel="stylesheet" media="screen" href="css/min.css">
  </head>
  <body>
    <div class="deck-container">
      <section class="slide">
        <h1>npm</h1>
      </section>
      <section class="slide">
        <h2>What is npm?</h2>
        <p>npm (node package manager) is the default package manager of Node. Node is a JavaScript runtime environment.</p><a href="https://nodejs.org/en/">https://nodejs.org/en/ </a>
      </section>
      <section class="slide">
        <h2>What is a package?</h2><img src="images/package-simple.png">
        <p>The package.json file is the metadata that defines the package and where npm scripts live. </p>
        <p>This allows you to use code written by specialized individuals or organizations, or share code between projects and between people at your company</p>
      </section>
      <section class="slide">
        <h2>What are npm scripts?</h2><img src="images/scripts.png">
        <p>npm supports the "scripts" property of the package.json script where you can add your packages.</p>
      </section>
      <section class="slide">
        <h2>Wny use npm scripts and why over other tools such as Grunt, Gulp?</h2>
        <ul>
          <li>People are tired of learning new tools?</li>
          <li>Dependence on plugin authors</li>
          <li>Frustrating debugging</li>
          <li>Disjointed documentation</li>
        </ul><img src="https://cdn-images-1.medium.com/max/800/1*Ukvg75zwIh7eZn35s8bs3g.png">
      </section>
      <section class="slide">
        <h2>Misconceptions about npm</h2>
        <ul>
          <li>npm scripts require strong command line skills</li>
          <li>npm scripts aren’t powerful enough</li>
          <li>Gulp’s streams are necessary for fast builds</li>
          <li>npm scripts don’t run cross platform</li>
        </ul>
      </section>
      <section class="slide">
        <h2>So what's good about npm</h2>
        <p>npm scripts are surprisingly powerful on their own. There are convention-based pre and post hooks:</p>
        <p>You can call multiple scripts serially on a single line using &&. </p>
        <p>And if a command gets too complicated, you can always call a separate file:</p>
        <p>Assure npm scripts are decomposed into small, well-named, single purpose functions that everyone understands.</p>
      </section>
      <section class="slide">
        <h2>Common Commands</h2>
        <p>You can run npm list -g to see where global packages are installed.</p>
        <p>You can uninstall globally installed packages npm uninstall -g jshint</p>
      </section>
      <div aria-role="navigation"><a href="#" title="Previous" class="deck-prev-link">&#8592;</a><a href="#" title="Next" class="deck-next-link">&#8594;</a></div>
      <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
      <script src="js/plugins.min.js"></script>
      <script src="js/min.js"></script>
    </div>
  </body>
</html>

app/index.jade
doctype html
html(lang="en")
  include ./templates/head.jade 
  body
    div.deck-container
      section.slide
        h1 npm

      section.slide
        h2 What is npm?
        p npm (node package manager) is the default package manager of Node. Node is a JavaScript runtime environment.
        a(href="https://nodejs.org/en/") https://nodejs.org/en/ 

      section.slide
        h2 What is a package?
        img(src="images/package-simple.png")
        p The package.json file is the metadata that defines the package and where npm scripts live. 
        p This allows you to use code written by specialized individuals or organizations, or share code between projects and between people at your company

      section.slide
        h2 What are npm scripts?
        img(src="images/scripts.png")
        p npm supports the "scripts" property of the package.json script where you can add your packages.

      section.slide
        h2 Wny use npm scripts and why over other tools such as Grunt, Gulp?
        ul
          li People are tired of learning new tools?
          li Dependence on plugin authors
          li Frustrating debugging
          li Disjointed documentation
        img(src="https://cdn-images-1.medium.com/max/800/1*Ukvg75zwIh7eZn35s8bs3g.png")

      section.slide
        h2 Misconceptions about npm
        ul
          li npm scripts require strong command line skills
          li npm scripts aren’t powerful enough
          li Gulp’s streams are necessary for fast builds
          li npm scripts don’t run cross platform

      section.slide
        h2 So what's good about npm
        p npm scripts are surprisingly powerful on their own. There are convention-based pre and post hooks:
        p You can call multiple scripts serially on a single line using &&. 
        p And if a command gets too complicated, you can always call a separate file:
        p Assure npm scripts are decomposed into small, well-named, single purpose functions that everyone understands.

      section.slide
        h2 Common Commands
        p You can run npm list -g to see where global packages are installed.
        p You can uninstall globally installed packages npm uninstall -g jshint

      div(aria-role="navigation")
        a(href="#" class="deck-prev-link" title="Previous") &#8592;
        a(href="#" class="deck-next-link" title="Next") &#8594;

      include ./templates/scripts.jade 
